/*!
 *   BeePlatform Admin v1
 *   Author: The Anh
 *	 Website: The Anh <https://dansanhdieu.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */
/*
 * Core: General Layout Style
 * -------------------------
 */

 #myVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   width:100%;
 }

 .login-page{
  background:#000;
 }

.login-box{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.login-box-body, .register-box-body {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.6);
}

.icheck > label {
    padding-left: 0;
}

@media only screen and (max-width:1024px){
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height:100%;
  }
}
